.modalBody {
  position: relative;
  background-color: #ffffff;
  padding: 24.5px 30.5px;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;

  width: 62%;
}

.modalInputBar {
  border: none;
  outline: none;
  border: 1px solid #f5f7fb;
  border-radius: 4px;
  background-color: #f5f7fb;
  height: 36px;
  padding: 10px;
  width: 100%;
}

.modalInput div {
  color: #949ca5;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.modalTitle {
  color: #3c4857;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 41px;
  margin-bottom: 41px;
}

.modalBodyForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 26px;
  grid-column-gap: 20px;
}

.occupy {
  grid-column: span 2;
}

.modalButtons {
  display: flex;
  margin-top: 32px;
}

.modalButton {
  height: 46px;
  width: 181px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.modalButtons {
  display: flex;
  gap: 19.5px;
  width: 100%;
  justify-content: flex-end;
}

.modalResetButton {
  background: none;
  height: 46px;
  width: 181px;
  border: 1px solid #0e85ff;
  border-radius: 4px;
  color: #0e85ff;
  font-size: 18px;

  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}

.modalSaveButton {
  background-color: #0e85ff;
  color: #ffffff;
  font-size: 18px;

  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}

.paswordEyeContainer {
  position: relative;
}

.passwordEye {
  position: absolute;
  top: 0;
  right: 0;
}

.modalEditButton {
  border: none;
  outline: none;
  cursor: pointer;
  height: 45px;
  width: 80px;
  border-radius: 4px;
  background-color: #0e85ff;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 37px;
}

.modaledit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
